@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-light-rgb: 216, 216, 216;
  --background-rgb: 232, 232, 232;
  --primary-rgb: 137, 162, 202;
  --accent-rgb: 210, 39, 25;
  --dark-primary-rgb: calc(137 * 0.25), calc(162 * 0.25), calc(202 * 0.25);
  --dark-accent-rgb: calc(210 * 0.25), calc(39 * 0.25), calc(25 * 0.25);
}

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-light-rgb: 48, 48, 48;
  --background-rgb: 24, 24, 24;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.cursor-aura {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: rgb(var(--accent-rgb));
  box-shadow: 0px 0px 50px 100px rgb(var(--accent-rgb));
  border-radius: 50%;
  pointer-events: none;
  animation: pulse 5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(5) translate(-50%, -50%);
    opacity: 0.25;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0.1;
  }
}

.cursor-aura-receptor {
  position: relative;
  overflow: hidden;
}
