.text-title {
  background: -webkit-linear-gradient(
    270deg,
    rgb(var(--primary-rgb)),
    rgb(var(--primary-rgb)) 50%,
    transparent 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
