.nav-item:hover .icon {
  color: rgb(var(--accent-rgb));
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;

}
